@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  li {
    @apply list-none;
  }
  label,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  input,
  p,
  textarea,
  button,
  ul,
  li,
  a {
    @apply text-slate-900;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}
